.discussion-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;

  align-items: center;

  max-height: 90vh;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 10px 20px;
}

  

.discussion-list::-webkit-scrollbar {
  display: none;
}